<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Abstract Group</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
    
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
    <![endif]-->

    <%= stylesheet_link_tag abstract_group_stylesheet_includes %>    
    <%= javascript_include_tag abstract_group_javascript_includes %>
    
    <%= yield :javascript %>
  </head>
  <body>
    <div class="container">
      <div class="top-banner span-24 last">
        <div class="header span-14">
          <h1>Abstract Group</h1>
        </div>
      </div>

      <div class="base_content span-20">
        <%= render :partial => 'abstract-group-shared/flash', :object => flash %>
        <div class="inner_content">
          <%= yield %>
        </div>
      </div>

      <div class="span-4 last">
        <div id="main_menu">
          <%= render_abstract_group_main_menu %>
        </div>
        <div class="sidebar">
          <%= render :partial => 'abstract-group-shared/navigation', :locals => {
            :group => @group
          } %>
        </div>

      </div>
    </div>
  </body>
</html>

